*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
  justify-content: space-between;
    background: #000000;
}
.ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-grow: 1; /* Add flex-grow property */
  }
.ul li{
    margin: 15px;

}
.ul li a{
    text-decoration: none; 
    color: #FFFFFF;
    font-weight: bold;
}
.cartBtn {
    background: #f2c94c;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 6px;
    color: #FFFFFF;
    background: #000000;
    border: 2px solid #56CCF2; /* Add border properties */
    border-radius: 7px;
   margin-right: 2%;
}